name: bus-clock
services:
  bus-clock:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
    restart: unless-stopped

